.cellsWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 302px;
    height: 300px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 20px;
  }
  .game-board{
    display: flex;
    flex-wrap: wrap;
    place-content: space-between;
    max-width: 302px;
    margin: 0.5rem;
  }

  .btn{
    margin-top: 1rem;
  }

  .game-announcement{
    width: 100%;
    color: var(--typo);
    text-align-last: center;
  }
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #ffffff;
    border: 1px solid black;
  }
  
  .cell:hover {
    background-color: #ddd;
  }
  
  .message {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
  }
  
  .player-x{
   

  }
  .player-o{
    

  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    background-color: var(--primary);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    width: 700px;
    max-height: 416px;
    flex-direction: column;
    color: var(--typo);
    overflow-y: auto;
  }
  
  .modal ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .modal li {
    margin-bottom: 10px;
    font-size: 16px;
    text-align-last: center;
  }
  
  .modal button {
    border: none;
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .modal button:hover {
    background-color: #d32f2f;
  }

  .game-announcement{
    
  }