.watch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.time,
.timer,
.alarm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.time {
    font-size: 2rem;
    color: var(--typo);
}

.timer,
.alarm {
    width: 100%;
    max-width: 400px;
}

h2{
    color: var(--typo);
    margin-bottom: 1rem;
}
label{
    color: var(--typo);
}
.timer input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.timer button {
    background-color: var(--secondary);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
}

.timer button:hover {
    background-color: #0063a3;
}

.timer button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.alarm input[type="time"] {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.alarm input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
}

.real-time {
    font-size: 3rem;
    margin-bottom: 20px;
}

.pauseButton {
    display: none;
    background-color: #db3236;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 10px;
}

.pauseButton:hover {
    background-color: #c43035;
}

.pausedTime {
    font-size: 2rem;
    color: #db3236;
}