
.window {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
.window-header {
    background-color: var(--dark);
    color: var(--typo);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:grab;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;

}
  
.window-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--typo);
    font-size: 16px;
    cursor: pointer;
    line-height: 1;

    svg path {
        fill: var(--typo);
    }
}
  
.window-body {
    flex: 1;
    align-self: center; 
    align-self: stretch;
    max-height: 100%;
    overflow-y: auto;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: var(--primary);
}
