
.window {
    position: absolute;
    border: 1px solid var(--primary);
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
  
.window-header {
    background-color: var(--primary);
    color: var(--typo);
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:grab;
}
  
.window-close-button {
    background-color: transparent;
    border: none;
    color: var(--typo);
    font-size: 16px;
    cursor: pointer;
}
  
.window-body {
    flex: 1;
    align-self: stretch;
    max-height: 100%;
    overflow-y: auto;
}

