@import 'reset.scss';
@import 'theme.scss';
@import 'toolbar.scss';
@import 'taskbar.scss';
@import 'window.scss';
@import 'desktop.scss';
@import '_settings.scss';
@import "_calculator.scss";
@import 'tictactoe.scss';


.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}




