/* BREAKPOINTS */

$breakpoint-mobile: 580px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-lg: 1024px;
$breakpoint-desktop-sm: 1200px;
$breakpoint-desktop-md: 1440px;
$breakpoint-desktop-lg: 1900px;


